* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    background-color: blanchedalmond;
    width: 10px;
    box-shadow: 1px 2px 5px inset;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}

body {
    background: #ad9494;
}


.logo {
    border-radius: 50%;
}

header {
    position: sticky;
    top: 0px;
    z-index: 10;
    box-shadow: 5px 5px 10px -5px black;
}

.navbar {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    padding: 15px;

}

.navbar a {

    text-decoration: none;
    color: inherit;

}

.logo {

    margin-left: 5px;
}

.list {

    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
    font-family: 'Ubuntu', sans-serif;
}

.list li:hover {

    text-decoration: underline;
    transition: 1s;
    transform: scale(1.1);
    transform: rotate(360deg);
    color: rgb(255, 145, 0);

}

#togl,
.navbar label {

    display: none;
}

@media screen and (max-width:625px) {

    .menu {

        width: 100%;
        max-height: 0;
        margin-top: 5px;
        overflow: hidden;
        background-color: antiquewhite;
    }

    .list {

        flex-direction: column;
        align-items: center;
        padding: 20px;

    }

    .navbar label {

        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }

    #togl:checked~.menu {

        max-height: 100%;
    }
}

/* navpannel css end  */

 /* main css start */

    /* .top slider start  */

    .top {

        width: 100%;
        height: 223px;
        overflow: scroll;
        display: flex;
        margin: 10px auto;
        margin-top: 25px;
    }

    .top img {

        width: 100%;
        height: 200px;
        position: sticky;
        left: 0;

    }

    /* .top::-webkit-scrollbar { */

    /* display: none; */
    /* background-color: #ff8a00; */

    /* } */


    /* .top slider end  */

    /* first slider start  */
    h3 {
        margin-left: 11px;
        margin-top: 45px;
    }

    .up {

        display: flex;
        width: 100%;
        height: 175px;
        overflow: scroll;
        border-radius: 30px;
    }

    .upr {

        display: flex;
        width: 100%;
        height: 200px;
        overflow: scroll;
        border-radius: 30px;
    }

    .slideup {

        margin: 0px 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        opacity: 0.9;
    }

    .slideup:hover {
        box-shadow: 2px 3px 15px black;
        opacity: 1;
    }

    .image {

        width: 165px;
        height: 175px;
        border-radius: 30px;
    }

    .up::-webkit-scrollbar {

        display: none;
    }

    .upr::-webkit-scrollbar {

        display: none;
    }

    /* first slider end  */

    /* second slider start  */

    .imagee {
        width: 160px;
        height: 165px;
    }

    .upp {

        display: flex;
        width: 100%;
        height: 195px;
        overflow: scroll;
    }

    audio {
        border: 1px solid black;
        background: whitesmoke;
        width: 160px;
    }

    .upp::-webkit-scrollbar {

        display: none;
    }

    /* second slider end  */

    /* third slide artist start  */
    .imageee {
        width: 150px;
        height: 141px;
        border-radius: 50%;
    }

    /* third slide artist end  */

    .atr {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-left: 12px;
        margin-bottom: 11px;
        margin-top: 45px;
    }

    @media screen and (min-width:768px ) {
            .fmain {
                padding: 5px 65px;
            }
        }
    @media screen and (min-width:1024px ) {
        .fmain {
                padding: 5px 70px;
            }
        }

 /* main css end  */

   /* keep in touch start  */


   .touch {

       background-color: transparent;
       padding: 4px;
       border-radius: 10px;
       box-shadow: 0px 8px 30px 3px black;
       margin-top: 45px;
   }

   .cent {

       text-align: center;
   }

   #cent {
       text-align: center;


   }

   @media (min-width:768px) {
       .touch {
           width: 75%;
           margin: auto;
           margin-top: 45px;
       }
   }

   @media (max-width:430px) {


       .mt {

           margin-top: 15px;
       }
   }


/* keep touch end  */

  /* footer css start  */

  footer {

      background-color: bisque;
      display: flex;
      justify-content: space-around;
      font-family: 'Ubuntu', sans-serif;
      width: 100%;
      font-size: 1.2em;
  }

  @media (max-width:768px) {

      footer {
          background-color: #ff8a00;
          background-attachment: fixed;
          display: flex;
          justify-content: space-around;

      }

      .foot {
          font-size: .6rem;
      }

      /* .copy {

/* margin: auto;
width: fit-content; */
      /* } */


  }

  .em {

      background: transparent;
      border: none;
  }

  .foot {
      display: flex;
      flex-direction: column;
      margin: 5px auto;
      justify-content: flex-start;
  }

  span.social {
      display: flex;
      justify-content: space-evenly;
      margin-top: 15px;
      align-items: center;
      margin-left: -8px;
  }

  .xyz {

      margin-top: 15px;
  }

  h2 {
      margin-top: 0px;
      text-decoration: underline;
  }

  strong {
      text-decoration: underline;
  }

  /* .copy {
      margin: auto;
      width: fit-content;
  } */

  .fa-instagram {
      padding-right: 2px;
      padding-top: 1px;
  }

  a {
      text-decoration: none;
      color: black;
  }

/* footer css end */